<h1 class="text-center mb-4"></h1>

<div class="container d-flex justify-content-center">
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title"><%= @user.name %></h3>
      <%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle mb-3" %>
      <% if @user == current_user %>
        <p>
          <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-primary" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
 <%= render "public/golf_courses/golf_courses", golf_courses: @golf_courses %>